[submodule "Excursion"]
	path = Excursion
	url = https://github.com/Griffin-Wing135/Excursion.git
[submodule "ColmarAcademy"]
	path = ColmarAcademy
	url = https://github.com/Griffin-Wing135/ColmarAcademy.git
