html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: black;
}

header img {
    display: inline-flex;
    height: 50px;
    margin-left: 10px;
}

nav {
    list-style-type: none;
    display: inline-flex;
}

nav li {
    display: inline-flex;
    text-decoration: underline;
    padding: 0px 10px;
}

main {
    display: flex;
    margin-top: 70px;
    margin-left: 40px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#banner {
    background-image: url("./images/background.jpg");
    background-size: cover;
    background-position: center;
    width: 97%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner #content {
    background-color: black;
    width: 100%;
    text-align: center;
}

#this-month {
    max-width: 1000px;
    text-align: center;
}

#this-month > div:not(h2):not(h4) {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    flex-basis: 300px;
    display: inline-flex;
    text-align: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 25px;
}

.container img {
    height: 200px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 10px;
}

.container h4{
    margin-top: 0px;
}

#locations {
    background-image: url("./images/locations.jpg");
    background-size: cover;
    background-position: center;
    width: 97%;
    height: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#locations .content {
    display: inline-flex;
    justify-content: space-evenly;
}

.address {
    background-color: black;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

#contact {
    height: 200px;
    text-align: center;
}

footer {
    margin-left: 20px;
}